:root{
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Grey: hsl(208, 20%, 19%);
--Dark-Blue: hsl(215, 22%, 15%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
--font-family1: 'Overpass', sans-serif;
}
@font-face {
    font-family: overpass;
    src: url();
}
body{
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    width: 450px;
    height: 400px;
    background-color: var(--Dark-Blue);
    border-radius: 20px;
}
.iconContainer{
    width: 45px;
    height: 45px;
    background-color: var(--Dark-Grey);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px ;
    left: 30px;
    color: var(--orange);
}
.ratingContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}
.rate{
    background-color: var(--Dark-Grey);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.rate:hover{
    background-color: var(--Light-Grey);
    transform: scale(1.1);    
}
.rate:hover >p{
    color: var(--Very-Dark-Blue);
    transform: scale(1.1);
}
.resultContainer{
    display: flex ;
    justify-content: center;
    align-items: center;
}
.submitBtn{
    width: 80%;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 45px;
    top: 30px;
    background-color: var(--orange);
    font-family: var(--font-family1);
    color: var(--White);
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out; 
    border: none;
    outline: none;
}
.submitBtn:hover{
    background-color: var(--White);
    color: var(--orange);
    padding: 0 100px;
}
h1{
  font-family: var(--font-family1);
  font-weight: 700;
  margin: 50px 0 0 30px;
  color: var(--White);
}
h2{
    font-family: var(--font-family1);
    font-weight: 400;
    font-size: 18px;
    margin: 15px 0 0 30px; 
    color: var(--Light-Grey);
  }
  p{
    font-family: var(--font-family1);
    color: var(--Light-Grey);
  }
  .selected{
    background-color: var(--orange) ;
  }
  .selected >p{
    color: var(--Very-Dark-Blue)
  }
  #cardsBack{
    width: 450px;
    height: 400px;
    background-color: var(--Dark-Blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
}
.logo{
    margin-top: 40px;
    margin-left: 135px;
}
  .p2Title{
    text-align: center;
    font-family: var(--font-family1);
    font-weight: 700;
    font-size: 25px;
    color: var(--White);
  }
  .p2Text{
    text-align: center;
    margin-top: -15px;
  }
  .rateResult{
    margin: 40px auto;
    background-color: var(--Dark-Grey);
    color: var(--orange);
    border-radius: 25px;
    padding: 5px 15px;
    text-align: center;
    width: 200px;
    
  }
  .autor {
    display: flex;
    font-family: var(--font-family1);
    font-size: 13px;
    color: rgb(255, 255, 255); 
    position: absolute;
    text-align: center;
    bottom: 30px;
    left: 49.5rem;
    opacity: 0.9;
}
.autor >a{
    color: var(--orange);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}
.autor >a:hover{
    color: var(--Light-Grey);
}